html{
  widows: 100%;
  height:100%;
}

body{
  widows: 100%;
  height:100%;
}

#root{
  width:100%;
  height:100%;
}

#root #router-parent{
  width:100%;
  height:100%;
}

.App {
  text-align: center;
  width:100%;
  height:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  height:15%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.text{
  height:85%;
}

.full-height{
  height:100%;
}

.vertical-align{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  height:100%;
}

.with-top{
  padding-top:80px;
}

.with-bottom{
  padding-bottom:30px;
}

.same-height{
  min-height:385px;
  position:relative;
}

.action-btn{
  position:absolute;
  bottom:0;
  left:0;
}

.close-btn{
  float:right;
}

.content{
  clear:both;
  padding:15px;
}

#textarea{
  height:200px;
}

.item{
  font-size:15px;
}

.with-top-bottom{
  margin:100px 0;
}

.update{
  margin-left:20px;
}

.bottom-btn{
  position:absolute;
  top:0px;
  left:15px;
}

#update-section{
  display:none;
}

#list{
  padding-bottom:100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
